{% extends 'index.html' %}
{% block body %}
<div class='form'>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class='notification is-danger'>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}              
            </ul>
        {% endif %}
    {% endwith %}
</div class='form'>
<div class='form'>
<h1 class="title">Add an exercise: </h1>
<form method='POST' action='/add_exercise'>
    <br>
    {{ form.hidden_tag() }}
    {{ form.exercise_name.label }} {{ form.exercise_name }}
        {% if form.exercise_name.errors %}
        <div class='error'>
            {% for error in form.exercise_name.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% endif %}
    <br>
    {{ form.repetitions.label }} {{ form.repetitions }}
        {% if form.repetitions.errors %}
        <div class='error'>
            {% for error in form.repetitions.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% endif %}
    <br>
    {{ form.sets.label }} {{ form.sets }}
        {% if form.sets.errors %}
        <div class='error'>
            {% for error in form.sets.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% endif %}
    {{ form.submit }}
</form>
</div>
{% endblock %}