<html>
    <head>
        <title>Log-In</title>
    </head>
</html>
{% extends "index.html" %}
{% block body %}
<html>
    <body>
        <div class="column is-4 is-offset-4">
            <h1 class="title">Login</h1>
            <div class="form">
                <form method="POST" action="/login">
                    <br>
                    {{ form.hidden_tag() }}
                    {{ form.user_name.label }} {{ form.user_name }}
                    {% if form.user_name.errors %}
                        <div class='error'>
                            {% for error in form.user_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {{ form.password.label }} {{ form.password }}
                    {% if form.password.errors %}
                        <div class='error'>
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <br>
                    {{ form.submit }}
                </form>
            </div>
        </div>
    </body>
</html>
{% endblock %}