{% extends 'index.html' %}
{% block body %}
<div class='form'>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class='notification is-danger'>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}              
            </ul>
        {% endif %}
    {% endwith %}
</div class='form'>
<section class="hero is-size-2">
    View workout:
</section>
<br>
<section class="hero is-size-4">
            Workout Name: {{ workout_name }}
            </section>
            <h4>
                {% for item in list %}
                    <span> Exercise Name: {{ item.exercise_name }}</span>
                    <br>
                    <span> Number of repetitions: {{ item.repetitions }}</span>
                    <br>
                    <span> Number of sets: {{ item.sets }} </span>
                    <br>
                    <button><a href="{{ url_for('routes.delete_workout_exercise', workout_name=workout_name, exercise_ID=item.exercise_ID) }}">Delete</a></button> 
                    <br>
                    <br>
                {% endfor %}
            </h4>
</section>
{% endblock %}
