{% extends 'index.html' %}
{% block body %}
<div class='form'>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class='notification is-danger'>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}              
            </ul>
        {% endif %}
    {% endwith %}
</div class='form'>
<section class="hero is-size-2">
    View workout:
</section>
<br>
<section class="hero is-size-4">
    {% for workout in workouts %}
        {% if id == workout.user_ID and workout.workout_name not in list %}
            Workout Name: {{ workout.workout_name }}
            {% do list.append(workout.workout_name) %}
            </section>
            <section class="hero is-size-6">
                {% for exercise in exercises %}
                {{ query }}
                    <h7>
                    <span> Exercise Name: {{ exercise.exercise_name }}</span>
                    <br>
                    <span> Number of repetitions: {{ exercise.repetitions }}</span>
                    <br>
                    <span> Number of sets: {{ exercise.sets }} </span>
                    <br>
                    <button><a href="{{ url_for('routes.delete_workout_exercise', exercise_ID=exercise.exercise_ID) }}">Delete</a></button> 
                    <br>
                    <br>
                    </h7>
                {% endfor %}
            </section>
        {% endif %}
    {% endfor %}
</section>
{% endblock %}
